@media (min-width: 768px) {
	.container, .container-md, .container-sm {
	    max-width: 740px;
	}
}
@media (min-width: 1260px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
	    max-width: 1230px;
	}
}
@media (min-width: 1440px){
    
}
/* ноут 1360 */
@media screen and (max-width: 1439px) {
	
}
/* планшет 1024 */
@media screen and (max-width: 1199px) {
	.col_logo {
	    flex: 0 0 180px;
	}
	header {
		padding: 0;
	}
	header .phone {
		font-size: 18px;
	}
	.main_samp {
		width: 448px;
	}
	.city_select {
		top: 18px;
	}
	.main_title {
		margin-top: 73px;
		font-weight: 800;
		font-size: 24px;
		line-height: 1.33em;
		margin-bottom: 33px;
	}
	.start_btn {
		width: 216px;
		height: 32px;
		line-height: 30px;
	}
	.quiz_start:before {
	    top: -19px;
    	left: -31px;
	}
	.social_links {
		margin-top: 46px;
		margin-bottom: 8px;
	}
	.directions .row {
		height: 93px;
	}
	.directions .col {
		font-size: 14px;
	}
	.programs {
		padding-top: 35px;
	}
	.programs h2 {
		margin-bottom: 40px;
	}
	.filter_item {
		flex: 1 1 auto;
	}
	.filter_item:last-child {
		border-right: none;
	}
	.fieldset_title {
		text-align: center;
	}
	.programs_result .container:before {
		top: 460px;
	}
	.programs_result .container:after {
		bottom: 14px;
	}
	.programs_result {
		padding-bottom: 58px;
	}
	.paginate_alter {
		margin-top: 10px;
	}
	.paginate_alter a {
		width: 12px;
		height: 12px;
		margin: 0 17px;
		background: #dbdde0;
		border-radius: 50%;
	}
	.paginate_alter a.active {
		background: #233874;
	}
	.header_top_row .row {
		height: 85px;
	}
	.burger svg {
		vertical-align: bottom;
	}
	.header_menu_row {
		background: #F2F5F9;
	}
	.header_menu_row ul {
		list-style-type: none;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.4em;
		color: #233874;
		height: 34px;
	}
	.header_menu_row ul a {
		color: #233874;
	}
	.consult {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 42px;
	}
	.form_wrapper {
		padding-right: 0;
		float: none;
		padding-top: 18px;
	}
	.consult_form {
		margin: 0 auto;
	}
	.form_wrapper:after {
		right: -26px;
    	top: -13px;
	}
	.advantages {
		padding-top: 72px;
	}
	.advantages h2 {
		font-size: 38px;
		text-transform: none;
		max-width: 50%;
		margin-left: 0;
	}
	.advantages h2:before {
		left: -57px;
	}
	.advan_row {
		margin-top: 50px;
	}
	.adv_nav .row {
		height: 305px;
	}
	.advantages .col_nav {
		padding-right: 0;
	}
	.advantages .box .img {
		height: 305px;
		margin-left: 15px;
	}
	.advantages > .container:before, 
	.advantages > .container:after {
		display: none;
	}
	.advantages .box {
		padding-top: 362px;
	}
	.advantages .digits .t {
		font-size: 14px;
		text-transform: none;
	}
	.students .info {
		padding-left: 0;
	}
	.students .info:before {
		left: 0;
	}
	.students .info .name,
	.students .info .position {
		padding-left: 54px;
	}
	.students .info .position {
		padding-right: 64px;
		margin-bottom: 27px;
	}
	.students .info .text {
		height: 87px;
		overflow: hidden;
		margin-bottom: 28px;
	}
	.students .swiper-slide .img {
		width: 339px;
		height: 432px;
	}
	.students:before {
		top: 202px;
	}
	.students .swiper-nav {
		bottom: 71px;
		margin-left: 15px;
	}
	.students > .container:before {
		width: 128px;
		height: 128px;
		background-size: cover;
		left: -74px;
		top: 383px;
	}
	.students {
		padding-bottom: 48px;
	}
	.students:after {
		width: 128px;
		height: 128px;
		right: -64px;
		top: -110px;
	}
	.news_item .img a,
	.main_news .img a {
		height: 176px;
	}
	.main_news .img,
	.news_item .img {
		margin-bottom: 18px;
	}
	.news_title {
		font-size: 16px;
		color: #72787E;
	}
	.news_item:not(:last-child) {
		margin-bottom: 0;
	}
	.news {
		padding-top: 48px;
	}
	.subscribe .consult_form {
		width: 464px;
	}
	.subscribe .form_wrapper:after {
	    right: -6px;
	    top: 7px;
	}
	.subscribe .form_wrapper:before {
		right: -53px;
    	top: -41px;
	}
	.subscribe.consult {
		padding-bottom: 25px;
	}
	.idea h3 {
		margin-bottom: 31px;
	}
	.dir {
		margin-left: -30px;
		margin-right: -30px;
	}
	.idea .text {
		margin-top: 20px;
		padding-top: 61px;
		padding-left: 153px;
		padding-right: 30px;
		font-size: 16px;
	}
	.idea .img {
		flex: 0 0 246px;
		height: 424px;
	}
	.idea .text p.sign {
		font-size: 12px;
		margin-bottom: 40px;
	}
	.idea .container:after, 
	.idea .container:before {
		width: 112px;
		height: 112px;
		background-size: cover;
	}
	.idea .container:after {
		bottom: -56px;
    	right: -70px;
	}
	.idea {
		padding-bottom: 96px;
	}
	.idea .container:before {
		bottom: -152px;
    	left: 138px;
	}
	.students_works {
		padding-top: 128px;
		padding-bottom: 50px;
	}
	.swiper-pagination {
		line-height: 12px;
	}
	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		margin: 0 17px;
		opacity: 1;
		background: #DBDDE0;
		vertical-align: middle;
	}
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background: #233874;
	}
	.advantages.start .box .img {
		height: 379px;
	}
	.advantages.start .adv_nav .row {
		height: 379px;
	}
	.advantages.start .box {
		padding-top: 419px;
	}
	.advantages.start .advan_row {
		margin-top: 30px;
	}
	.advantages.start {
		padding-bottom: 72px;
	}
	.testim {
		padding-top: 72px;
	}
	.testim .container:before {
		display: none;
	}
	.testim .item {
		padding: 80px 30px 0;
		height: 368px;
	}
	.testim .swiper-slide,
	.testim .item {
		width: 522px;
	}
	.testim .item .text {
		margin-bottom: 10px;
	}
	.next_step {
		padding-top: 35px;
		text-align: center;
	}
	.next_step h3{
		margin-bottom: 38px;
	}
	.ns_link {
		margin: 0 auto 23px;
		width: 380px;
	}
	.ns_row {
		margin-bottom: 15px;
	}
	.col_contacts {
		padding-top: 40px;
		padding-bottom: 17px;
	}
	.col_contacts h3 {
		margin-bottom: 16px;
	}
	.col_contacts .phone{
		transform: none;
		margin-top: 18px;
	}
	.col_f_menu {
		margin-bottom: 42px;
	}
	.f_menu {
		padding-bottom: 10px;
	}
	.mobile_menu {
		display: block;
	}
	.title_section {
		margin-top: 51px;
		margin-bottom: 17px;
	}
	.title_section .title_category {
		font-size: 18px;
		font-weight: 600;
	}
	.title_section .title {
		font-size: 24px;
		font-weight: 800;
	}
	.price_section .old_price {
		font-size: 18px;
	}
	.price_section .current_price {
		font-size: 24px;
	}
	.course_first_scr .col_left {
		padding-right: 30px;
		flex: 0 0 369px;
	}
	.btn_big {
		font-size: 18px;
		font-weight: normal;
		font-family: Roboto;
		padding: 0 17px;
		height: 43px;
		line-height: 43px;
		text-transform: none;
	}
	.course_first_scr .col_left {
		flex: 0 0 370px;
		max-width: 370px;
	}
	.course_first_scr .col_right {
		flex: 0 0 340px;
		max-width: 340px;
	} 
	.stages {
		width: 448px;
		height: 320px;
		font-size: 64px;
		margin-right: -30px;
	}
	.s-15 {
		top: 184px;
		right: 10.88em;
		width: 1.125em;
		height: 1.125em;
	}
	.s-15 svg {
		width: 1.125em;
		height: 1.125em;
	}
	.directions .col_item {
		font-size: 14px;
	}
	.course_first_scr,
	.course_main img {
		height: 352px;
	}
	.graph-r-1,
	.graph-r-2,
	.graph-r-3 {
		width: 64px;
		height: 64px;
		right: -30px;
	}
	.graph-r-3 svg {
		width: 39px;
		height: 39px;
	}
	.graph-r-1 {
		bottom: 64px;
	}
	.graph-r-3 {
		right: 34px;
	}
	.title_section .mark {
		width: 64px;
		height: 64px;
		top: -32px;
		left: -44px;
	}
	.title_section .mark svg {
		width: 21px;
		height: 27px;
	}
	.price_section .button_group {
		margin-top: 23px;
	}
	.note_section {
		margin-bottom: 13px;
		font-size: 12px;
		width: 70%;
	}
	.gr_line {
		font-size: 18px;
		font-weight: bold;
		height: 59px;
		text-transform: uppercase;
	}
	.about_course .list ul {
	    list-style-type: none;
	    font-weight: bold;
	    color: #233874;
	    font-size: 18px;
	    text-transform: uppercase;
	    line-height: 1.39em;
	    margin-bottom: 42px;
	    font-family: 'Montserrat';
	    padding-left: 20px;
	}
	.about_course .list ul li {
	    margin-bottom: 12px;
	    position: relative;
	}
	.about_course .list ul li:before {
	    content: '';
	    width: 5px;
	    height: 5px;
	    border-radius: 50%;
	    left: -17px;
	    top: 8px;
	    background: #233874;
	    position: absolute;
	}
	.about_course h2 {
		margin-bottom: 48px;
	}
	.about_content {
		padding-left: 14px;
		font-size: 16px;
	}
	.video_link_wrap {
		width: 339px;
	}
	.video_link_wrap .graph-1 {
		bottom: 43px;
	}
	.about_course .digits {
		text-align: center;
	}
	.about_course .digits .d {
		font-size: 80px;
		line-height: 1.225em;
	}
	.about_course .digits .t {
		font-size: 14px;
		font-weight: 600;
		text-transform: none;
		margin-top: -12px;
	}
	.about_course .digits {
		margin-top: 53px;
	}
	.about_course {
		padding-bottom: 76px;
	}
	.offer .d {
		margin-right: 34px;
	}
	.offer .t {
		margin-right: 36px;
		width: 314px;
	}
	.advantages.uniq .box .img {
		width: 369px;
		height: 320px;
	}
	.advantages.uniq .box .text {
		position: static;
		margin: 0;
		width: auto;
		
	}
	.advantages.uniq .box .text_wrap {
		padding: 0;
		background: none;
	}
	.advantages.uniq {
		padding-bottom: 60px;
	}
	.consult.sobes .title {
		margin-bottom: 15px;
	}
	.form_wrapper:after {
		right: 4px;
	}
	.consult.sobes {
		padding-bottom: 33px;
	}
	.teachers .swiper-nav {
		display: none;
	}
	.teachers .all_items {
		text-align: center;
		margin-top: 36px;
	}
	.students_works.course_works {
		padding-top: 72px;
		padding-bottom: 30px;
	}
	.idea.graduates .container:after, 
	.idea.graduates .container:before {
		display: none;
	}
	.graduates .swiper-container {
		margin: 0 -30px;
	}
	.idea.graduates .img {
		height: 536px;
	}
	.graduates p {
		font-size: 20px;
		line-height: 1.3em;
	}
	.graduates .swiper-nav {
		left: 125px;
	}
	.idea.graduates .text:before {
		left: 58px;
	}
	.idea.graduates {
		padding-bottom: 72px;
	}
	footer .map_canvas {
		width: auto;
		margin-right: -30px;
	}
	.direction_fs .title_section .title {
		font-size: 38px;
		text-transform: none;
	}
	.direction_fs .title_section {
		margin-top: 111px;
	}
	.direction_fs .title_section .mark {
		width: 120px;
		height: 120px;
		top: -70px;
		left: -60px;
	}
	.direction_programs {
		padding-top: 45px;
	}
	.direction_programs .title {
		display: inline-block;
		margin-bottom: 0;
		margin-right: 24px;
	}
	.direction_programs .tags {
		display: inline;
	}
	.direction_programs .tags a {
		margin-right: 24px;
		margin-bottom: 24px;
	}
	.col_program_items {
		margin-top: 25px;
	}
	.direction_programs .program_item .content .online {
		display: none;
	}
	.direction_programs .col_program {
		margin-bottom: 32px;
	}
	.direction_programs .container:after {
		display: none;
	}
	.direction_programs .container:before {
		left: -32px;
		top: 724px;
	}
	.direction_fs .title_section {
		margin-bottom: 30px;
	}
	.main_bnr_dod .graphs {
		margin-right: -1em;
	}
	.main_bnr_dod {
		height: 411px;
	}
	.main_bnr_dod .subtitle,
	.red_date {
		font-size: 18px;
	}
	.main_bnr_dod .subtitle {
		margin-bottom: 24px;
	}
	.main_bnr_dod .red_date {
		margin-bottom: 27px;
	}
	.textcontent{
		font-size: 16px;
	}
	.intro_text {
		padding-top: 48px;
		padding-bottom: 72px;
	}
	.register .box .box_graph {
		display: none;
	}
	.register .is_sticky {
		position: static;
		padding-top: 0;
		padding-bottom: 0;
	}
	.register .subtitle {
		font-size: 24px;
	}
	.register .title_row {
		margin-bottom: 70px;
	}
	.register .title_row svg {
		left: -30px;
	}
	.register .subtitle {
		margin-bottom: 24px;
	}
	.register .boxes_cont {
		margin-top: 4px;
	}
	.register .scrollnav {
		flex-wrap: wrap;
		margin-bottom: 0;
		margin-left: -10px;
		margin-right: -10px;
	}
	.register .scrollnav li {
		margin-bottom: 20px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.register .scrollnav li a {
		padding: 7px 17px;
	}
	.register_result .result_text {
		font-size: 18px;
	}
	.how_it_was {
		padding-top: 48px;
	}
	.how_it_was h2 {
		margin-bottom: 42px;
	}
	.how_video_container {
		width: 558px;
		height: 316px;
		z-index: 5;
	}
	.play_btn {
		width: 55px;
		height: 55px;
	    margin: -27px 0 0 -27px;
	}
	.play_btn svg {
		width: 100%;
		height: 100%;
	}
	.how_it_was .container:after {
		left: 15px;
		top: 212px;
	}
	.how_it_was .container:before {
		left: -81px;
		top: 108px;
	}
	.our_directions {
		padding-top: 48px;
	}
	.our_directions h2 {
		margin-bottom: 24px;
	}
	.our_directions .col_item {
		-ms-flex: 0 0 585px;
	    flex: 0 0 585px;
	    max-width: 585px;
	}
	.our_directions .col_image {
		-ms-flex: 0 0 230px;
	    flex: 0 0 230px;
	    max-width: 230px;
	}
	.our_directions .col_content {
		flex: 1 1 auto;
	}
	.our_directions .col_item .row {
		flex-wrap: nowrap;
	}
	.our_directions .col_item .graph {
		position: absolute;
		right: -142px;
		top: 71px;
	}
	.our_directions .col_item:nth-child(even) .graph {
		right: auto;
		left: -142px;
	}
	.our_directions .col_item {
		height: 281px;
	}
	.our_directions .col_content {
		padding-right: 20px;
	}
	.our_directions > .container > .row {
		display: block;
		overflow: hidden;
	}
	.our_directions .col_item {
		float: left;
	}
	.our_directions .col_item:nth-child(even) {
		float: right;
	}
	.diploms {
		padding-top: 72px;
		position: relative;
	}
	.diploms:before {
		content: '';
		position: absolute;
		background: #8fc742;
		width: 128px;
		height: 128px;
		border-radius: 50%;
		top: -64px;
		right: -64px;
	}
	.diploms .container:after {
		border-right-width: 56px;
		border-left-width: 56px;
		border-top-width: 56px;
		border-bottom-width: 56px;
	}
	.testim .container:after {
		left: -56px;
		top: 400px;
	}
	.events {
		padding-top: 72px;
		padding-bottom: 76px;
	}
	.events .title_row {
		margin-bottom: 48px;
	}
	.events .title_row svg {
		left: auto;
		right: 0;
		top: -100px;
	}
	.events .swiper-slide {
		width: 277px;
	}
	.events .swiper-container {
		overflow: visible;
	}
	.main_bnr_dod .title_section {
		margin-top: 35px;
	}
	.main_bnr_dod .graphs {
		margin-top: 22px;
	}
	.testdrive_fs .title_section .title {
		font-size: 42px;
	}
	.tpl_23 .testdrive_fs .title_section .title {
		font-size: 26px;
		font-weight: bold;
	}
	.testdrive_fs .title_section {
		height: 114px;
		margin-bottom: 0;
	}
	.testdrive_fs .price_section .current_price {
		font-size: 24px;
	}
	.gr_line {
		text-transform: none;
	}
	.about_course {
		padding-top: 48px;
		padding-bottom: 72px;
	}
	.about_course h2 {
		margin-bottom: 24px;
	}
	.about_course h4 {
		margin-bottom: 42px;
	}
	.testdrive_ac .about_content {
		padding-left: 0;
	}
	.testdrive_ac .graph-1 {
		top: 114px;
	}
	.testdrive_ac .swiper-nav {
		margin-top: 24px;
	}
	.image_items .item {
		height: 161px;
	}
	.for_you .swiper-slide {
		width: 286px;
	}
	.for_you .swiper-container {
		overflow: visible;
	}
	.for_you .swiper-pagination {
		display: none;
	}
	.will_free .graph-1,
	.will_free .graph-2 {
		width: 120px;
		height: 120px;
		right: 15px;
	}
	.will_free .graph-2 {
		height: 78px;
	}
	.will_free .graph-1 rect,
	.will_free .graph-2 rect {
		stroke-width: 45px;
	}
	.will_free .title {
		padding: 0 150px;
	}
	.tpl_23 .will_free .title {
		padding: 0;
	}
	.program_course h2 {
		font-size: 42px;
	}
	.program_course .title_row svg {
	    left: -87px;
	    top: -25px;
	}
	.program_course .card-header {
		text-transform: none;
		font-size: 24px;
		font-weight: bold;
		padding: 0;
	}
	.program_course .acc_title {
		padding: 10px 29px;
		margin-left: -29px;
		margin-right: -29px;
	}

	.program_course .card-header .subtitle {
		font-size: 18px;
		font-weight: 600;
		line-height: 1.2em;
	} 
	.program_course .acc_title[aria-expanded="true"],
	.program_course .card-body, 
	.acc_box {
		background: #fff;
	}
	.program_course .card-header .acc_title:before,
	.program_course .card-header .acc_title:after {
		margin-right: 29px;
	}
	.program_course .card-body {
		padding-top: 0;
		color: #72787e;
	}
	.acc_box {
		margin-left: -29px;
		margin-right: -29px;
		padding-left: 29px;
		padding-right: 29px;
	}
	.program_course .card-body.text ul {
		padding-left: 1.2em;
	}
	.program_course .card-header .collapsed {
		color: #233874;
	}
	.yell_sale .graph-1 {
		left: -45px;
	}
	.yell_sale .graph-2 {
		right: -45px;
	}
	.results_study h2 {
		font-size: 42px;
		width: 50%;
	}
	.results_study .col_menu {
		padding-top: 0;
	}
	.results_study .col_menu {
		padding-left: 15px;
		padding-right: 15px;
		flex: 0 0 370px;
	}
	.results_study .col_images {
		flex: 1 1 auto;
	}
	.results_study .row {
		flex-wrap: nowrap;
	}
	.results_study .col_images .img {
		height: 264px;
	}
	.results_study .box .row {
		flex-wrap: wrap;
	}
	.results_study .col_menu {
		position: absolute;
		left: -15px;
		top: 0;
		z-index: 10;
	}
	.results_study_body {
		position: relative;
	}
	.easy .image_items {
		height: 363px;
		margin-bottom: 68px;
	}
	.easy .image_items .item:nth-child(2) {
		bottom: auto;
		top: 0;
		left: 0;
		width: 392px;
		height: 200px;
	}
	.easy .image_items .item:nth-child(1) { 
		bottom: auto;
		top: 230px;
		left: 181px;
		width: 211px;
		height: 133px;
	}
	.easy .image_items .item:nth-child(3) {
		left: auto;
		right: 0;
		top: 77px;
		width: 287px;
		height: 216px;
	}
	.easy .image_items .graph-1 {
		width: 112px;
		height: 112px;
		top: 158px;
		left: 339px;
	}
	.easy .swiper-container {
		overflow: visible;
	}
	.easy .swiper-slide {
		width: 286px;
		height: 243px;
	}
	.easy .swiper-pagination {
		display: none;
	}
	.teacher .col_image {
		position: relative;
	}
	.teacher .col_image .img {
		position: -webkit-sticky;
    	position: sticky;
    	top: 175px;
    	left: 0;
    	bottom: 0;
	}
	.is_sticky_cont{
		height: 100%;
		position: relative;
	}
	.more_element {
		height: 500px;
	}
	.bonus {
		padding-top: 72px;
		padding-bottom: 20px;
		text-align: center;
	}
	.bonus h2 {
		font-size: 42px;
	}
	.bonus .title_row {
   		display: inline-block;
	}
	.bonus .col_text {
		text-align: left;
	}
	.bonus .title_row:before {
		width: 112px;
		height: 112px;
		left: -41px;
    	top: -28px;
	}
	.bonus .col_image .img {
		width: 278px;
		height: 278px;
		margin-left: auto;
		margin-right: auto;
		left: -56px;
	}
	.bonus .graph-1,
	.bonus .graph-2 {
		width: 93px;
		height: 93px;
	}
	.bonus .graph-2 {
		right: -118px;
	}
	.bonus .col_image {
		margin-bottom: 48px;
	}
	.bonus .col_item:not(:last-child) {
		margin-bottom: 40px;
	}
	.bonus .col_item:not(:first-child) {
		max-width: 50%;
		flex: 0 0 50%;
	}
	.testim.testdrive_testim h3 {
		margin-bottom: 24px;
	}
	.testim.testdrive_testim .swiper-container {
		/*padding-top: 62px;*/
	}
	.testim.testdrive_testim .container:after {
		display: none;
	}
	.continue_training .col_item {
		height: 165px;
		padding-left: 13px;
		padding-right: 13px;
		margin-bottom: 26px;
	}
	.continue_training .col_image {
		flex: 0 0 422px;
    	max-width: 422px;
	}
	.continue_training .col_image .row {
		margin-left: -13px;
		margin-right: -13px;
	}
	.continue_training .col_item:nth-child(1) {
	    flex: 0 0 271px;
	    max-width: 271px;
	} 
	.continue_training .col_item:nth-child(2) {
	    flex: 0 0 147px;
	    max-width: 147px;
	} 
	.continue_training .col_item:nth-child(3) {
	    flex: 0 0 179px;
	    max-width: 179px;
	} 
	.continue_training .col_item:nth-child(4) {
	    flex: 0 0 239px;
	    max-width: 239px;
	} 
	.continue_training .col_text {
		flex: 1 1 auto;
		max-width: none;
	}
	.continue_training > .container > .row {
		flex-wrap: nowrap;
	}
	.teacher .title_row {
		margin-bottom: 45px;
	} 
	.with_us {
		padding-top: 48px;
	}
	.text_items .item {
		margin-bottom: 30px;
	}
	.format .title_row {
		margin-bottom: 48px;
		padding-right: 40%;
	}
	.format .col_item {
		width: 286px;
	}
	.format .img {
		height: 196px;
	}
	.format .content {
		height: 387px;
		position: relative;
	}
	.format .desc {
		height: auto;
		font-size: 16px;
		line-height: 1.4em;
	}
	.format .price, 
	.format .old_price {
		font-size: 15px;
		white-space: nowrap;
		margin-right: 0;
	}
	.format .title {
		line-height: 1.3em;
		height: 62px;
	}
	.format .price_row {
		position: absolute;
		bottom: 24px;
		left: 24px;
		right: 24px;
	}
	.format .swiper-pagination {
		display: none;
	}
	.tpl_23 .testdrive_ac .graph-1 {
	    top: 212px;
	}
	.course_program .graph-1 {
	    position: absolute;
	    top: -28px;
	    left: -126px;
	}
	.process .item {
		margin-bottom: 30px;
	}
	.tpl_23 .results_study h2 {
		margin-bottom: 0;
	}
	.tpl_23 .results_study .title_row {
		margin-bottom: 95px;
	}
	.results_study .title_row svg {
		width: 112px;
		height: 112px;
	}
	.results_study .title_row svg {
	    left: -60px;
	    top: -23px;
	}

}
/* планшет 768 */
@media screen and (max-width: 991px) {
	.students_works .swiper-container {
		margin-left: 30px;
		height: 440px;
		margin-right: -138px;
	}
	.students_works .swiper-slide {
		height: 208px;
		height: calc((100% - 24px) / 2);
	}
	.students_works .swiper-button-prev,
	.students_works .swiper-button-next {
		display: none;
	}
	.header_menu_row {
		overflow-x: auto;
		white-space: nowrap;
	}
	.header_menu_row li {
		margin-right: 55px;
	}
	.boxes_cont {
		max-width: none;
		padding: 0;
	}
	.consult.will_free .title {
		padding: 0;
	}
	.text_items .item,
	.process .item {
		margin-bottom: 0;
	}
	.process .swiper-slide {
		width: 277px;
	}
	.process .swiper-pagination {
		display: none;
	}
	.testim_full_view {
		width: 700px;
		padding-left: 74px;
	}
	.testim_full_view .col_img img {
		width: 130px;
		height: 130px;
	}
}
/* смартфон 375 */
@media (max-width: 767px)  {
	.col_logo {
	    flex: 0 0 157px;
	}
	.phone_dd {
		position: relative;
		width: 36px;
		height: 36px;
	}
	.phone_dd li a {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #233874;
	}
	.phone_dd ul {
		list-style-type: none;
		background: #233874;
		border-radius: 18px;
		width: 36px;
		height: 36px;
		overflow: hidden;
	}
	.phone_dd ul.open {
		height: 108px;
	}
	.city_select {
		top: auto;
		bottom: -90px;
		left: 50%;
		text-align: center;
		font-size: 14px;
		font-weight: 600;
		width: 152px;
		padding: 0;
		white-space: nowrap;
		margin-left: -66px;
	}
	.city_select span {
		color: #233874;
	}
	.city_select .city_options {
		text-align: left;
		left: -60px;
	}
	.main_samp {
		float: none;
		width: 100%;
	}
	.main_bnr {
		margin-bottom: 100px;
		overflow: visible;
	}
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.main_title {
		color: #fff;
		top: 23px;
		left: 30px;
		font-size: 24px;
		position: absolute;
		margin-top: 0;
	}
	.mob_slider .swiper-slide {
		position: relative;
	}
	.mob_slider_pagination {
		text-align: center;
		width: 100%;
		margin-top: 27px;
	}
	.directions_slider_filter {
		padding-top: 17px;
		padding-bottom: 15px;
	}
	.directions_slider_filter .row {
		margin-left: -12px;
		margin-right: -12px;
		height: auto;
	}
	.directions_slider_filter .col_item {
		font-size: 14px;
		font-weight: 600;
		line-height: 1.4em;
		text-align: left;
		text-transform: none;
		height: 40px;
		padding-left: 12px;
		padding-right: 12px;
		margin-bottom: 15px;
	}
	.directions_slider_filter .col_item:nth-child(1) {
		order: 1;
	}
	.directions_slider_filter .col_item:nth-child(2) {
		order: 2;
	}
	.directions_slider_filter .col_item:nth-child(3) {
		order: 4;
	}
	.directions_slider_filter .col_item:nth-child(4) {
		order: 3;
	}
	.directions_slider_filter .col_item:nth-child(5) {
		order: 5;
	}
	.directions_slider_filter .col_item:nth-child(6) {
		order: 6;
	}
	.directions_slider_filter .col_item:nth-child(1),
	.directions_slider_filter .col_item:nth-child(3) {
		flex: 0 0 34.5%;
		max-width: 34.5%;
	}
	.directions_slider_filter .col_item:nth-child(2),
	.directions_slider_filter .col_item:nth-child(5) {
		flex: 0 0 40%;
		max-width: 40%;
	}
	.directions_slider_filter .col_item:nth-child(4),
	.directions_slider_filter .col_item:nth-child(6) {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.directions_slider_filter .col_item span {
		color: #a0a4a8;
	}
	.directions_slider_filter .col_item.active span {
		color: #233874;
	}
	h3 {
		font-size: 24px;
		line-height: 1.33em;
		font-weight: 800;
	}
	.directions_slider_filter h3 {
		max-width: 200px;
		margin-bottom: 34px;
	}
	.programs_slider {
		padding-bottom: 30px;
		position: relative;
		overflow: hidden;
		background: #fff;
	}
	.program_slide {
		width: 259px;
	}
	.program_slide_item {
		border: 1px solid #E8E8E8;
		background: #fff;
	}
	.program_slide_item .content {
		padding: 23px 11px 13px;
	}
	.program_slide_item .prog_napr {
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		line-height: 1.4em;
		margin-bottom: 5px;
	}
	.program_slide_item .title {		
		font-weight: bold;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 1.4em;
		margin-bottom: 11px;
		height: 50px;
	}
	.program_slide_item .title a {
		color: #405A9A;
	}
	.prog_dur {
		color: #CACCCF;
	}
	.link_more {
		bottom: 17px;
	}
	#programs_slider {
		padding-bottom: 42px;
		padding-left: 30px;
	}
	.swiper-container-horizontal>.swiper-pagination-bullets.prog_slider_pagination {
		bottom: 0;
	}
	.prog_date {
		left: -6px;
		top: auto;
		bottom: -13px;
	}
	.program_slide_item .img {
		position: relative;
	}
	.programs_slider:before {
		content: '';
		position: absolute;
	    background: #9C40FF;
	    width: 128px;
	    height: 128px;
	    border-radius: 50%;
	    left: -90px;
	    top: 90px;
	}
	.programs_slider .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 17px;
	}
	.consult .title {
		font-weight: 800;
		font-size: 24px;
		line-height: 1.3em;
	}
	.form_wrapper:after {
		width: 72px;
		height: 72px;
		background: #FFCC21;
		border-radius: 50%;
		border: none;
		right: auto;
		left: -26px;
		top: -2px;
	}
	.quiz_mobile {
		text-align: center;
	}
	.quiz_mobile .start_btn {
		width: 100%;
	}
	.quiz_mobile .form_wrapper {
		width: 243px;
		margin: 0 auto;
		padding-top: 20px;
	}
	.quiz_start {
		margin: 0 auto;
	}
	.consult .agreement {
		padding-top: 25px;
	}
	.consult {
		padding-top: 19px;
		padding-bottom: 28px;
	}
	.advantages h2 {
		margin-bottom: 48px;
	}
	.advantages h2:before {
	    left: -92px;
	    top: -38px;
	}
	.advantages h2 {
		line-height: 1.4em;
	}
	.advantages .digits .d {
		font-size: 48px;
		line-height: 59px;
	}
	.advantages .digits .t {
		font-size: 14px;
		text-transform: none;
		font-weight: 600;
	}
	.digits .item {
		margin-bottom: 30px;
	}
	.card:last-child {
		border-bottom: 1px solid #DBDDE0;
	}
	.advantages {
		padding-bottom: 20px;
	}
	.advantages .digits {
		margin-top: 0;
	}
	.advan_row {
		margin-top: 42px;
	}
	.students {
		padding-top: 18px;
		padding-bottom: 38px;
	}
	.students h3 {
		font-size: 38px;
		line-height: 1.4em;
		margin-bottom: 36px;
	}
	.students:after {
		top: -50px;
	}
	.students .swiper-slide .img {
		width: 203px;
		height: 208px;
		margin: 0 auto;
	}
	.students:before {
		left: 0;
		height: 408px;
		top: 264px;
	}
	.students > .container:before {
		left: -24px;
    	top: 183px;
	}
	.students .info {
		padding-top: 29px;
	}
	.students .swiper-button-prev,
	.students .swiper-button-next {
		width: 18px;
		height: 16px;
	}
	.students .swiper-nav {
		left: auto;
    	right: 30px;
    	bottom: 0;
	}
	.students .info {
		height: auto;
	}
	.students .info .position {
		font-size: 16px;
		height: 44px;
		overflow: hidden;
	}
	.news {
		background: #fff;
		padding-top: 24px;
		padding-bottom: 50px;
	}
	.news h3 {
		font-size: 38px;
		margin-bottom: 29px;
	}
	.new_title {
		margin-bottom: 30px;
	}
	.news_item {
		width: 216px;
	}
	.news_slider {
		padding-left: 30px;
	}
	.subscribe .consult_form {
		width: 314px;
	}
	.consult_form button svg {
		width: 18px;
		height: 16px;
	}
	.consult.subscribe .agreement {
		padding-top: 15px;
		width: 230px;
		margin: 0 auto;
	}
	.subscribe.consult {
		padding-bottom: 38px;
	}
	.subscribe .form_wrapper:before {
		border: none;
		border: 21px solid #FF692E;
		width: 112px;
		height: 112px;
		right: -91px;
    	top: -14px;
	}
	.subscribe .form_wrapper:after {
		display: none;
	}
	.diploms h3 {
		font-size: 38px;
		margin-bottom: 57px;
	}
	.diploms {
		padding-top: 75px;
	}
	.diploms .container:after {
		display: none;
	}
	.diploms .card-header,
	.diploms .card-header .collapsed {
		color: #233874;
	}
	.diploms .card-header {
		font-size: 14px;
		text-transform: none;
		font-weight: 500;
	}
	.diploms .card-header strong {
		font-size: 18px;
		font-weight: 600;
		display: block;
	}
	.diploms .title_row .img {
		flex: 0 0 48px;
		margin-right: 23px;
	}
	.card-header .acc_title:before, 
	.card-header .acc_title:after {
		right: 5px;
	}
	.dir .img {
		position: absolute;
		top: -104px;
		left: 50%;
		margin-left: -102px;
		width: 204px;
		height: 224px;
	}
	.idea {
		padding-top: 24px;
		padding-bottom: 89px;
	}
	.idea h3 {
		font-size: 38px;
		margin-bottom: 131px;
	}
	.idea .text{
		margin-top: 0;
		margin-bottom: 0;
		padding: 152px 30px 30px;
	}
	.idea .text:before {
		left: 30px;
		top: 49px;
		opacity: 0.2;
	}
	.idea .text p.sign {
		margin-bottom: 30px;
	}
	.idea .container:after {
		display: none;
	}
	.idea .container:before {
		bottom: -142px;
		left: auto;
		right: 10px;
	}
	.students_works {
		padding-top: 79px;
	}
	.students_works h3 {
		font-size: 38px;
		margin-bottom: 30px;
	}
	.students_works .swiper-container {
		margin-right: -198px;
	}/*
	.students_works .swiper-pagination {
		position: absolute;
		margin: 0;
		overflow: hidden;
		line-height: 12px;
	}*/
	.advantages {
		padding-top: 57px;
	}
	.advantages.start {
		padding-bottom: 0;
	}
	.testim {
		padding-top: 24px;
		padding-bottom: 0;
	}
	.testim h3 {
		font-size: 38px;
		margin-bottom: 35px;
	}
	.testim .item .img {
		width: 120px;
		height: 120px;
		margin-left: -60px;
		top: -60px;
	}
	.testim .item {
		width: auto;
		height: 388px;
	}
	.testim .swiper-container {
		padding-top: 90px;
	}
	.testim .item .text {
		height: 110px;
		overflow: hidden;
		font-size: 16px;
		margin-bottom: 25px;
	}
	.testim .item .read_more {
		text-align: left;
	}
	.next_step {
		padding-top: 23px;
		padding-bottom: 37px;
	}
	.next_step h3 {
		font-size: 38px;
		margin-bottom: 17px;
	}
	.ns_link {
		width: 100%;
	}
	.next_step .agreement {
		font-size: 16px;
	}
	.col_contacts {
		padding-top: 24px;
		padding-bottom: 30px;
	}
	footer .social_links {
		margin-top: 0;
		margin-bottom: 18px;
	}
	.col_contacts h3 {
		margin-bottom: 20px;
	}
	.social_footer {
		margin-top: 17px;
		margin-bottom: 30px;
	}
	.col_contacts .phone {
		margin-top: 30px;
	}
	.f_menu {
		padding-top: 35px;
		padding-bottom: 0;
	}
	.col_title {
		margin-bottom: 28px;
	}
	.col_f_menu {
		margin-bottom: 30px;
	}
	.b_footer .col_item {
		margin-bottom: 12px;
	}
	.course_first_scr .col_left,
	.course_first_scr .col_left > * {
		position: relative;
		z-index: 5;
	}
	.course_first_scr .col_left .bg {
		position: absolute;
		z-index: 1;
		top: 0;
		right: -30px;
		bottom: 0;
		left: -30px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	.course_first_scr .col_left .bg:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(61,61,61,.75);
	}
	.course_first_scr .col_left {
		flex: 0 0 auto;
		max-width: 100%;
		padding-right: 0;
	}
	.title_section,
	.price_section,
	.old_price,
	.note_section {
		color: #fff;
	}
	.course_first_scr {
		height: 370px;
	}
	.title_section .mark {
		top: -44px;
    	left: -34px;
	}
	.title_section {
		margin-top: 61px;
	}
	.course_first_scr:not(.testdrive_fs) .button_group .btn_stroke {
		border: none;
		padding: 0;
		color: #fff;
		text-decoration: underline;
	}
	.gr_line {
		height: auto;
		font-weight: normal;
		font-family: Roboto;
		text-transform: none;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.gr_line .col_item {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.about_course {
		padding-top: 32px;
	}
	.about_course h2 {
		margin-bottom: 27px;
	}
	.video_link_wrap {
		margin-bottom: 39px;
	}
	.video_link_wrap {
		width: auto;
	}
	.about_content ul li:before {
		display: none;
	}
	.about_content {
		padding-left: 0;
	}
	.about_content ul {
		font-size: 14px;
	}
	.about_course .digits {
		margin-top: 23px;
	}
	.about_course .digits .d {
		font-size: 38px;
	}
	.about_course .digits .t {
		font-size: 12px;
		line-height: 1.4;
		margin: 0;
	}
	.about_course {
		padding-bottom: 27px;
	}
	.offer {
		text-align: center;
		height: auto;
		padding: 33px 0 54px;
	}
	.offer .d,
	.offer .t {
		margin-right: 0;
	}
	.offer .d {
	}
	.advantages.uniq {
		padding-bottom: 0;
	}
	.how_join {
		padding-top: 48px;
		padding-bottom: 48px;
	}
	.how_join h3 {
		font-size: 38px;
		margin-bottom: 28px;
	}
	.sobes .consult_form,
	.direction_consult .consult_form {
		width: 314px;
	}
	.sobes .consult_form input.field_name,
	.direction_consult .consult_form input.field_name {
		flex: 0 0 107px;
		max-width: 107px;
		padding-left: 14px;
	}
	.sobes .consult_form input.field_phone,
	.direction_consult .consult_form input.field_phone {
		flex: 0 0 150px;
		max-width: 150px;
	}
	.sobes .form_wrapper:after,
	.direction_consult .form_wrapper:after {
		top: 5px;
	}
	.course_program {
		padding-top: 48px;
		padding-bottom: 48px;
	}
	.course_program h3 {
		font-size: 38px;
		margin-bottom: 28px;
	}
	.course_program .title_row {
		margin-bottom: 30px;
	}
	.teachers {
		padding-top: 40px;
		padding-bottom: 48px;
	}
	.teachers h3 {
		margin-bottom: 0;
	}
	.teachers .title_row {
		margin-bottom: 21px;
	}
	.teachers_slider .swiper-slide,
	.teachers_slider .swiper-slide.first_slide {
		width: 203px;
	}
	.teachers_slider .swiper-slide {
		display: flex;
		flex-direction: column;
	}
	.teachers_slider .swiper-slide .img {
		order: 1;
		margin-bottom: 16px;
	}
	.teachers_slider .swiper-slide .position {
		order: 2;
		margin-bottom: 12px;
	}
	.teachers_slider .swiper-slide:not(.first_slide) .name {
		padding-top: 35px;
	}
	.teachers_slider .swiper-slide .name {
		order: 3;
	}
	.teachers_slider .swiper-slide .desc {
		order: 4;
	}
	.teachers_slider .first_slide:after {
		display: none;
	}
	.teachers .all_items {
		margin-top: 40px;
	}
	.teachers_slider .position {
		font-size: 18px;
	}
	.students_works.course_works {
		padding-top: 24px;
		padding-bottom: 20px;
	}
	.advantages.start.course_start {
		padding-bottom: 48px;
	}
	.idea.graduates h3 {
		margin-bottom: 21px;
	}
	.idea.graduates .text {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 50px;
		padding-top: 130px;
		margin-top: 96px;
	}
	.idea.graduates .img {
		width: 202px;
		height: 208px;
	}
	.idea.graduates .dir {
		margin-left: 0;
		margin-right: 0;
	}
	.graduates .swiper-nav {
		left: auto;
		right: 30px;
		bottom: 46px;
	}
	.idea.graduates {
		padding-bottom: 0;
	}
	.course_first_scr.direction_fs .col_left .bg:after,
	.direction_fs .title_section .mark,
	.direction_programs .container:after,
	.direction_programs .graph-cd-1,
	.direction_programs .programs_slider:before {
		display: none !important;
	}
	.direction_fs .title_section .title {
		font-size: 24px;
	}
	.direction_fs .title_section {
		margin-top: 36px;
		width: 75%;
	}
	.direction_fs.course_first_scr {
		height: 312px;
	}
	.direction_programs {
		padding-top: 36px;
	}
	.direction_programs .title {
		margin-bottom: 12px;
	}
	.direction_programs .tags a {
		height: 36px;
		font-size: 16px;
		padding: 0 17px;
		margin: 0 13px 13px 0;
		font-weight: normal;
	}
	.direction_programs .programs_slider {
		margin-left: -30px;
		margin-right: -30px;
		background: none;
	}
	.direction_programs {
		background: #fff;
	}
	.direction_programs .container:before {
	    left: -32px;
	    top: 523px;
	}
	.testim.direction_testim {
		padding-top: 24px;
	}
	footer .map_canvas {
		height: 289px;
		margin-left: -30px;
	}
	.card-header .title_row {
		margin-bottom: 0;
	}
	.main_bnr_dod {
		position: relative;
		height: 370px;
	}
	.main_bnr_dod h1 {
		font-size: 24px;
	}
	.main_bnr_dod .title_section {
		color: #233874;
	}
	.main_bnr_dod .item:nth-child(3),
	.main_bnr_dod .item:nth-child(7),
	.main_bnr_dod .item:nth-child(8) {
		display: none;
	}
	.main_bnr_dod .graphs {
		position: absolute;
		top: 0;
		right: -0.5em;
	}
	.main_bnr_dod .col_right {
		position: static;
	}
	.main_bnr_dod .item:nth-child(1) {
		top: 2em;
		transform: rotate(90deg);
	}
	.intro_text {
		padding-top: 24px;
	}
	.register h2 {
		font-size: 24px;
	}
	.register .title_row svg {
		width: 112px;
		height: 112px;
	}
	.register .title_row svg {
		left: -55px;
	}
	.register .subtitle {
		font-size: 18px;
	}
	.register .title_row {
		margin-bottom: 40px;
	}
	.register .scrollnav li {
		padding: 0;
		border: none;
		font-size: 16px;
		border-bottom: 1px solid #233874;
		color: #233874;
		margin-right: 25px;
	}
	.register .scrollnav li.active {
		color: #0601EC;
		border-bottom-color: #0601EC;
	}
	.register .is_sticky {
		position: static;
	}
	.boxes_cont.container {
		padding-left: 0;
		padding-right: 0;
	}
	.boxes .col_content {
		flex: 1 1 100%;
		min-width: 100%;
	}
	.boxes .box_content .col_content {
		margin-bottom: 24px;
	}
	.boxes .content_row {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.boxes .col_label {
		font-weight: bold;
		font-size: 18px;
		text-transform: uppercase;
		color: #233874;
	}
	.count_b {
		padding-top: 0;
	}
	.register .box .box_content {
		display: none;
	}
	.register .box/*,
	.register .box:first-child .box_content*/ {
		display: block;
	}
	.box_title {
		position: relative;
	}
	.box_title:after,
	.box_title:before {
		content: '';
		position: absolute;
		top: 50%;
		right: 32px;
		width: 16px;
		height: 3px;
		background: #fff;
		margin-top: -2px;
	}
	.box_title:before {
		transform: rotate(90deg);
	}
	.box_title.active:before {
		display: none;
	}
	.register_result {
		margin-top: 48px;
	}
	.register .box .box_graph {
		display: none;
	}
	.how_it_was h2 {
		margin-bottom: 24px;
	}
	.how_video_container {
		width: auto;
		height: 192px;
	}
	.how_video_container .caption,
	.video_play:before {
		height: 79px;
	}
	.how_video_container .caption .title{
		margin-bottom: 0;
	}
	.play_btn {
	    width: 30px;
	    height: 30px;
	    margin: -25px 0 0 -15px;
	}
	.how_it_was .container:after {
		width: 96px;
		height: 96px;
		left: -18px;
    	top: 219px;
	}
	.how_it_was .container:before {
		top: 68px;
	}
	.our_directions {
		padding-top: 0;
		padding-bottom: 0;
	}
	.our_directions .col_item {
		padding-left: 0;
		padding-right: 0;
		width: 259px;
		height: 509px;
		float: none;
		flex: 0 0 auto;
	}
	.our_directions .col_item .row {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.our_directions .col_item .col_image {
		order: 1;
		height: 174px;
	}
	.our_directions .col_item .col_content {
		order: 2;
	}
	.our_directions .col_image,
	.our_directions .col_content {
		flex: 0 0 auto;
		max-width: 100%;
		width: 100%;
	}
	.our_directions .col_content {
		flex: 1 1 auto;
	}
	.our_directions .swiper-container {
		overflow: visible;
	}
	.our_directions .title {
		padding-left: 44px;
	}
	.our_directions .swiper-pagination {
		display: none;
	}
	.advantages h2 {
		font-size: 24px;
	}
	.advantages h2:before {
		width: 112px;
		height: 112px;
		left: -52px;
    	top: -28px;
	}
	.advantages h2 {
	    margin-bottom: 28px;
	}
	.testim .container:after {
		right: -80px;
		top: -43px;
		left: auto;
	}
	.testim.gray {
		background: #fff;
	}
	.testim.gray .item {
		background: #f2f5f9;
	}
	.testim.gray .swiper-slide-active .item:before {
		color: #fff;
	}
	.events .title_row svg {
		right: auto;
		top: -29px;
    	left: -30px;
	}
	.events .swiper-slide {
		width: 224px;
	}
	.events .item .img {
		height: 119px;
	}
	.events .item {
		height: 353px;
	}
	.events .item .title {
		margin-bottom: 13px;
	}
	.events .graph:nth-child(1) {
	    top: 250px;
	    left: 0px;
	}
	.events {
		padding-bottom: 48px;
	}
	.ns_row {
		margin-bottom: 0;
	}
	.teacher_row {
		flex-wrap: wrap;
	}
	.teacher .col_image {
	    flex: 0 0 100%;
	    max-width: 100%;
	    margin-bottom: 24px;
	}
	.teacher .col_image .img {
		height: 236px;
		position: static;
	}
	.teacher {
	    padding-top: 48px;
	    padding-bottom: 48px;
	}
	.teacher .col_content .text {
		margin-bottom: 40px;
	}
	.teacher .title_row {
		margin-bottom: 24px;
	}
	.teacher .col_content .text.desc {
		display: block;
	}
	.teacher .col_content .text.desc_full {
		display: none;
	}
	.teacher .all_items {
		text-align: center;
	}
	.bonus {
		padding-bottom: 24px;
	}
	.bonus .col_image .img {
		width: 221px;
		height: 221px;
	}
	.bonus .graph-1, 
	.bonus .graph-2 {
		width: 73px;
		height: 73px;
	}
	.bonus .graph-2 {
		right: -29px;
	}
	.bonus .col_image .img {
		left: -15px;
	}
	.bonus .col_image {
		margin-bottom: 40px;
	}
	.bonus .col_item:not(:first-child) {
	    max-width: 100%;
	    flex: 0 0 100%;
	}
	.bonus .col_item:not(:last-child){
		margin-bottom: 24px;
	}
	.bonus .col_item .title {
		font-size: 18px;
	}
	.bonus .col_item .desc {
		font-size: 16px;
	}
	.testim h3 {
		font-size: 24px;
	}
	.testim {
		padding-top: 48px;
		padding-bottom: 72px;
	}
	.testim.testdrive_testim .swiper-container {
		/*padding-top: 24px;*/
	}
	.item_video .caption {
		position: static;
		color: #233874;
		margin-top: 19px;
	}
	.item_video .caption .name {
		border-right: 0;
		text-align: left;
	}
	.item_video .caption .row {
		display: block;
		margin: 0;
	}
	.item_video .caption .name,
	.item_video .caption .course_title {
		padding-left: 30px;
		padding-right: 30px;
	}
	.continue_training .title_row h2 {
		font-size: 24px;
		width: 50%;
		margin-bottom: 32px;
	}
	.continue_training .title_row:before {
		top: -27px;
	}
	.continue_training > .container > .row {
		flex-wrap: wrap;
	}
	.continue_training .col_image {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.continue_training .col_item:nth-child(1),
	.continue_training .col_item:nth-child(4) {
		-ms-flex: 0 0 66.666667%;
	    flex: 0 0 66.666667%;
	    max-width: 66.666667%;
	}
	.continue_training .col_item:nth-child(2),
	.continue_training .col_item:nth-child(3) {
		-ms-flex: 0 0 33.333333%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	}
	.continue_training .col_item {
		height: 105px;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;
	}
	.continue_training .col_image .row {
		margin-left: -10px;
		margin-right: -10px;
	}
	.continue_training p {
		font-size: 16px;
		margin-bottom: 1em;
	}
	.continue_training .btn_group {
		text-align: center;
	}
	.sign-up-course .consult_form input.field_name,
	.will_free .consult_form input.field_name  {
		flex: 0 0 112px;
		max-width: 112px;
		padding-left: 17px;
	}
	.sign-up-course .consult_form,
	.will_free .consult_form {
		width: 100%;
	}
	.sign-up-course .consult_form input.field_phone,
	.will_free .consult_form input.field_phone {
		width: 128px;
	}
	.sign-up-course .form_wrapper,
	.will_free .form_wrapper {
		height: auto;
	}
	.consult.will_free .title {
		font-size: 42px;
		padding: 0;
	}
	.will_free .graph-1, 
	.will_free .graph-2 {
		right: -90px;
		display: none;
	}
	.will_free .subtitle {
		font-size: 18px;
		font-weight: 600;
	}
	.will_free .container {
		padding-top: 48px;
	}
	.will_free,
	.students_works,
	.course_works,
	.teachers {
		overflow: hidden;
	}
	.course_first_scr.testdrive_fs .button_group .btn_stroke {
		color: #fff;
		border-color: #fff;
	}
	.teacher .title_row {
		margin-bottom: 24px;
	} 
	body {
		padding-top: 85px;
	}
	.tpl_23 .testdrive_ac .graph-1 {
	    top: 132px;
	    width: 120px;
	    height: 120px;
	}
	.tpl_23 .about_course h4 {
		margin-bottom: 24px;
		margin-top: 34px;
	}
	.with_us .graph_1 {
		width: 112px;
		height: 112px;
		top: -57px;
    	right: -50px;
	}
	.with_us {
		padding-bottom: 48px;
	}
	.with_us h2 {
		margin-bottom: 24px;
	}
	.with_us .col_item:not(:last-child) {
		margin-bottom: 18px;
	}
	.with_us .title {
		margin-bottom: 4px;
	}
	.for_you {
		padding-top: 48px;
		padding-bottom: 48px;
	}
	.for_you h2 {
		font-size: 24px;
		margin-bottom: 0;
	}
	.for_you .title_row {
		margin-bottom: 32px;
	}
	.image_items .item {
		height: 82px;
		margin-bottom: 14px;
	}
	.for_you .row_items {
		margin-left: -7px;
		margin-right: -7px;
	}
	.for_you .col_item {
		padding-left: 7px;
		padding-right: 7px;
	}
	.for_you .text_items {
		margin-top: 10px;
	}
	.for_you .swiper-slide {
		width: 259px;
	}
	.text_items .item {
		width: 259px;
		padding: 16px 24px;
	}
	.yell_sale .graph-1,
	.yell_sale .graph-2 {
		height: 56px;
		width: 128px;	
	}
	.yell_sale .graph-1 {
		left: -57px;
	}
	.yell_sale .graph-2 {
		right: -57px;
	}
	.format {
		padding-top: 72px;
	}
	.format .title_row h2 {
		font-size: 32px;
	}
	.format .title_row {
		padding-right: 0;
	}
	.format .title_row svg{
		width: 112px;
		height: 112px;
	    top: -9px;
    	left: -67px;
	}
	.format .col_item {
		width: 223px;
	}
	.format .title {
		font-size: 18px;
		padding-bottom: 0;
		margin-bottom: 16px;
		height: 46px;
	}
	.format .desc {
		font-size: 14px;
	}
	.format .old_price {
		color: #cacccf;
	}
	.format .content{
		height: 433px;
	}
	.format .price_row {
		flex-wrap: wrap;
	}
	.format .price_row .price,
	.format .price_row .old_price {
		padding-left: 8px;
		padding-right: 8px;
		margin-bottom: 10px;
	}
	.consult.will_free .title {
		font-size: 38px;
	}
	.will_free .title {
		margin-bottom: 28px;
	}
	.will_free .graph-3 {
		width: 120px;
		height: 120px;
		right: -84px;
    	top: -60px;
	}
	.will_free {
		overflow: visible;
	}
	.format .swiper-container {
		overflow: visible;
	}
	.easy h2 {
		font-size: 24px;
		margin-bottom: 24px;
	}
	.easy {
		padding-top: 48px;
		padding-bottom: 0;
	}
	.easy .image_items .item:nth-child(1) {
		width: 112px;
		height: 82px;
		top: 106px;
		left: 36px;
	}
	.easy .image_items .item:nth-child(2) {
		width: 175px;
		height: 90px;
	}
	
	.easy .image_items .item:nth-child(3) {
		width: 124px;
		height: 95px;
		top: 47px;
	}
	.easy .image_items .graph-1 {
		width: 71px;
		height: 71px;
		top: 59px;
		left: 135px;
	}
	.easy .image_items {
		height: 190px;
		margin-bottom: 34px;
	}
	.easy .item .title {
		font-size: 18px;
		margin-bottom: 16px;
	}
	.easy .item .desc {
		font-size: 16px;
	}
	.easy .text_items .item {
		width: 224px;
		height: 200px;
	}
	.easy .swiper-slide {
		width: 224px;
	}
	.tpl_23 .course_program h3 {
		margin-bottom: 48px;
	}
	.tpl_23 .course_program .text {
		padding-bottom: 24px;
	}
	.process {
		padding-top: 48px;
		padding-bottom: 48px;
	}
	.process h2 {
		margin-bottom: 34px;
	}
	.process .subtitle {
		font-size: 18px;
		margin-bottom: 16px;
	}
	.process .swiper-slide {
		width: 203px;
	}
	.process .title {
		font-size: 18px;
		margin-bottom: 8px;
	}
	.process .content {
		height: 306px;
		padding: 24px 14px;
	}
	.advantages h2 {
		max-width: none;
	}
	.tpl_23 .program_course {
		background: none;
		padding-top: 0;
		padding-bottom: 48px;
	}
	.tpl_23 .results_study .title_row {
		margin-bottom: 48px;
	}
	.tpl_23 .results_study .title_row svg {
		width: 112px;
		height: 112px;
	}
	.tpl_23 .results_study {
		padding-top: 48px;
	}
	.tpl_23 .program_course .swiper-pagination {
		display: none;
	}
	.tpl_23 .program_course .item .content {
		padding: 19px 0 0;
		height: auto;
	}
	.tpl_23 .program_course .swiper-slide {
		width: 203px;
	}
	.tpl_23 .program_course .item .title {
		margin-bottom: 11px;
		font-size: 18px;
		height: 50px;
	}
	.tpl_23 .program_course .item .desc {
		font-size: 16px;
	}
	.tpl_23 .program_course .swiper-container {
		overflow: visible;
	}
	.tpl_23 .program_course .item {
		margin-bottom: 0;
	}
	.tpl_23 .program_course {
		padding-bottom: 0;
	}
	.testim_full_view,
	.testim_full_view.dir_fv {
		width: 315px;
		padding: 20px 17px 39px 29px;
	}
	.testim_full_view .col_img img {
		width: 90px;
		height: 90px;
	}
	.testim_full_view .full_text {
		font-size: 16px;
		height: 170px;
	}
	.testim_full_view .name {
		padding-right: 30%;
    	padding-top: 17px;
	}
	.testim_full_view .row_img {
		margin-bottom: 16px;
	}
	.idea {
		margin-bottom: 0;
	}
	.advantages.start h2:before {
		left: -46px;
		top: -38px;
	}
}
/* end смартфон 375 */
@media (max-width: 374px)  {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.boxes .col_content, .boxes .col_count, .boxes .col_label {
		padding: 0 15px;
	}
	.boxes .col_content {
		padding-right: 30px;
	}
	.box_title:after, .box_title:before {
		right: 15px;
	}	
}

@media (max-height: 710px)  { 
	
}